.card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 100%;
  display: flex;
  align-self: auto;
  margin: 200px auto;
}

.card-body {
  height: auto;
  text-align: center;
}

.card-title {
  font-size: 4rem;
  font-weight: bold;
}

.text-muted {
  font-size: 2rem;
  margin-top: 15px;
}

.btn-primary {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top:  10px;
}
