<div class="card" style="width: 35rem;">
  <img src="{{ character.image }}" class="card-img-top" alt=" {{ character.name }} ">
  <div class="card-body">
    <h5 class="card-title"> {{character.name}} </h5>
    <hr>
    <p class="text-muted">Status: {{character.status}} </p>
    <hr>
    <div class="row text-left">
      <p class="text-muted">Specie: {{character.species }}</p>
      <a class="text-muted" [routerLink]= "['/Character-Location', character.location.url]">Last location: {{character.location.name }}</a>
      <p class="text-muted">Last episode: {{ character.episode.toString().replace("https://rickandmortyapi.com/api/episode/", "") }}</p><a class="lastEpisode" href=></a>
    </div>
    <a class="btn btn-primary" [routerLink]= "['/Character-Details', character.id]">More data</a>
    <button href="#" class="btn btn-success float-end" (click)="toggleFavorite()">Add to fav or delete</button>
  </div>
</div>
