  <div *ngIf="character$ | async as character">
    <div   class="card-character" style="width: 35rem;">
      <img src="{{ character.image }}" class="card-img-top" alt=" {{ character.name }} ">
      <div class="card-body">
        <h5 class="card-title"> {{character.name}} </h5>
        <hr>
        <p class="text-muted">Status: {{character.status}} </p>
        <hr>
        <div class="row text-left">
          <p class="text-muted">Specie: {{character.species }}</p>
        </div>
        <hr>
      </div>
        <div  class="episodes-card">
          <div *ngFor="let episode of character.episode">
            <p class="episodes-name">List of episodes</p>
            <p class="episodes-name">Episode {{ episode.toString().replace("https://rickandmortyapi.com/api/episode/", "") }}</p>
          </div>
        </div>
      <button class="btn btn-primary" routerLink="**">Go back</button>
    </div>
  </div>


